---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm.astro";
---

<Layout title="Tu Imagen Rx - Login">
  <main class="full-screen-layout">
    <div class="content-left">
      <h1>
        Bienvenido a<br />
        <span class="text-gradient">Tu Imagen RX</span>
      </h1>
    </div>
    <div class="content-right">
      <LoginForm action="/login" />
    </div>
  </main>
</Layout>

<style>
  .full-screen-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .content-left {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }

  .content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    color: white;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  @media (max-width: 1200px) {
    h1 {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 992px) {
    .full-screen-layout {
      flex-direction: column;
      justify-content: center;
    }

    .content-left,
    .content-right {
      width: 100%;
      padding: 0 1.5rem;
    }

    h1 {
      font-size: 3rem;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }

    .full-screen-layout {
      padding: 0 1rem;
    }
  }

  @media (max-width: 576px) {
    h1 {
      font-size: 2rem;
    }
  }

  @media (max-width: 375px) {
    h1 {
      font-size: 1.8rem;
    }

    .full-screen-layout {
      padding: 0 0.5rem;
    }
  }
</style>
